@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font: "Montserrat", sans-serif;

  --font-color: #1c1c1c;

  --bg-color: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  --bg-card: #ecf4ff;
  --bg-projetc: rgba(192, 192, 192, 0.6);

  --grey: #44475a;
  --orange: #ffb86c;
  --purple: #bd93f9;
}


body {
  background: var(--bg-color) no-repeat;
  background-size: auto;
  font-family: var(--font);
  height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.container {
  width: 60px;
  background: var(--bg-card);
  color: var(--title-color);

  padding: 3rem;

  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  display: block;
}




.title h1 {
  font-weight: bolder;
  font-size: 1.8rem;
}
